---
- name: Add/Remove extra groups by OS family.
  when:
    - aspects_local_users_groups is defined
    - ansible_distribution == "Debian" or ansible_distribution == "Pop!_OS" or ansible_distribution == "Ubuntu"
  include_tasks: "addRemoveExtraGroupsDebian.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups

- name: Add/Remove extra groups by OS family.
  when:
    - aspects_local_users_groups is defined
    - ansible_distribution == "RedHat" or ansible_distribution == "OracleLinux" or ansible_distribution == "CentOS"
  include_tasks: "addRemoveExtraGroupsRedHat.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups

- name: Create user groups with the correct gid.
  when: item.1.state is defined and item.1.state == "present" and item.1.enabled
  group:
    state: "{{ item.1.state }}"
    name: "{{ item.1.username }}"
    gid: "{{ item.1.uid }}"
  loop: "{{ aspects_local_users | default({}) | dictsort }}"
  tags:
    - aspects_local_users
    - aspects_local_users_groups

- name: Set user state
  when: item.1.state is defined and item.1.enabled
  user:
    state: "{{ item.1.state }}"
    name: "{{ item.1.username }}"
    comment: "{{ item.1.fullname }}"
    password: "{{ item.1.crypted_pass }}"
    createhome: "{{ item.1.createhome|default('yes') }}"
    home: "{{ item.1.home|default('/home/' + item.1.username) }}"
    shell: "{{ item.1.shell }}"
    uid: "{{ item.1.uid }}"
    group: "{{ item.1.username }}"
  loop: "{{ aspects_local_users | default({}) | dictsort }}"
  tags:
    - aspects_local_users

- name: Debian - Add/Remove extra groups by OS family.
  when:
    - aspects_local_users_groups is defined
    - ansible_distribution == "Debian" or ansible_distribution == "Pop!_OS" or ansible_distribution == "Ubuntu"
  include_tasks: "addRemoveExtraGroupsDebian.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups

- name: RedHat - Add/Remove extra groups by OS family.
  when:
    - aspects_local_users_groups is defined
    - ansible_distribution == "RedHat" or ansible_distribution == "OracleLinux" or ansible_distribution == "CentOS"
  include_tasks: "addRemoveExtraGroupsRedHat.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups

- name: Set system group state
  when: aspects_local_users_system_groups is defined and item.1.enabled
  group:
    state: "{{ item.1.state }}"
    name: "{{ item.1.name }}"
    gid: "{{ item.1.gid }}"
    system: "yes"
  loop: "{{ aspects_local_users_system_groups| default({}) | dictsort }}"
  tags:
    - aspects_local_users

- name: Set system user group state
  when: aspects_local_users_system_users is defined and item.1.enabled
  group:
    state: "{{ item.1.state }}"
    name: "{{ item.1.username }}"
    gid: "{{ item.1.uid }}"
    system: "yes"
  loop: "{{ aspects_local_users_system_users| default({}) | dictsort }}"
  tags:
    - aspects_local_users

- name: Set system user state
  when: aspects_local_users_system_users is defined and item.1.enabled
  user:
    state: "{{ item.1.state }}"
    name: "{{ item.1.username }}"
    comment: "{{ item.1.fullname }}"
    password: "{{ item.1.crypted_pass }}"
    createhome: "yes"
    home: "{{ item.1.home|default('/home/' + item.1.username) }}"
    shell: "{{ item.1.shell }}"
    uid: "{{ item.1.uid }}"
    group: "{{ item.1.group|default(item.1.username) }}"
    system: "yes"
  loop: "{{ aspects_local_users_system_users| default({}) | dictsort }}"
  tags:
    - aspects_local_users

- name: Debian - Set users extra groups by OS family.
  when:
    - ansible_distribution == "Debian" or ansible_distribution == "Pop!_OS" or ansible_distribution == "Ubuntu"
  include_tasks: "setExtraGroupsDebian.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups
    - aspects_local_users_groups_append

- name: RedHat - Set users extra groups by OS family.
  when:
    - ansible_distribution == "RedHat" or ansible_distribution == "OracleLinux" or ansible_distribution == "CentOS"
  include_tasks: "setExtraGroupsRedHat.yml"
  tags:
    - aspects_local_users
    - aspects_local_users_groups
    - aspects_local_users_groups_append

- name: ensure user ssh keys are set
  when: aspects_local_users_ssh_keys is defined and item.1.state is defined and item.1.enabled
  authorized_key:
    state: "{{ item.1.state }}"
    user: "{{ item.1.username }}"
    key: "{{ item.1.ssh_pubkey }}"
  loop: "{{ aspects_local_users_ssh_keys | default({}) | dictsort }}"
  tags:
    - aspects_local_users
    - aspects_local_users_ssh_keys
